<form action="/" method="post"> 
<div>
    <img src='https://i.imgflip.com/2podac.jpg'>
</div>
<div>

</div>
<label for="url">
Enter your URL
<input type="text" name="url">
</label>

<input type="submit" value="Submit">
</form>